
<div class="container mt-1">
  <div *ngFor="let category of categories" class="mb-3">
    <div class="section-title">{{ category.title }}</div>
    <div class="checklist-container">
      <div *ngFor="let item of category.items" class="checklist-item">
        <input type="checkbox" [id]="item" class="form-check-input">
        <label [for]="item" class="form-check-label ms-2">{{ item }}</label>
        <span class="info-icon" [title]="item">
          <button mat-button (click)="openPopup(item)">i</button>
        </span>
      </div>
    </div>
  </div>
</div>

