<div class="container mt-1">
  <div *ngFor="let section of sections" class="mb-3">
    <div class="section-title">{{ section.title }}</div>
    <div class="checklist-container">
      <div *ngFor="let item of section.items" class="checklist-item">
        <input type="checkbox" [id]="item.id" class="form-check-input">
        <label [for]="item.id" class="form-check-label ms-2">{{ item.label }}</label>
        <span class="info-icon" [title]="item.info">
          <button mat-button (click)="openPopup(item.label)">i</button>
        </span>
      </div>
    </div>
  </div>
</div>
