<div class="container my-5 mx-3">
  <div class="password-container">
      <form>
          <!-- Old Password Field -->
          <div class="mb-3">
              <label for="oldPassword" class="form-label">Old Password</label>
              <input type="password" class="form-control" id="oldPassword" placeholder="**********">
          </div>

          <!-- New Password Field -->
          <div class="mb-3">
              <label for="newPassword" class="form-label">New Password</label>
              <input type="password" class="form-control" id="newPassword" placeholder="**********">
          </div>

          <!-- Retype Password Field -->
          <div class="mb-3">
              <label for="retypePassword" class="form-label">Retype Password</label>
              <input type="password" class="form-control" id="retypePassword" placeholder="**********">
          </div>

          <!-- Two-Factor Authentication Number -->
          <div class="mb-3">
              <label for="twoFactorAuth" class="form-label">Two Factor Authentication Number</label>
              <input type="text" class="form-control" id="twoFactorAuth" placeholder="+91 0000 0000 00">
          </div>

          <!-- Update Password Button -->
          <button type="submit" class="btn btn-update color-steelblue" id="btn-update"  >Update Password</button>
      </form>
  </div>
</div>