<div class="container mt-4">
  <div class="row align-items-center">
    <div class="col-auto">
      <h3 class="mb-4">{{vitalLabel}}</h3>
    </div>
    <div class="col-auto ms-auto">
      <!-- Date Pickers -->
      <div class="d-flex flex-wrap gap-3">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Select Start Time</mat-label>
          <input matInput [matDatepicker]="startPicker" placeholder="MM/DD/YYYY hh:mm" />
          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Select End Time</mat-label>
          <input matInput [matDatepicker]="endPicker" placeholder="MM/DD/YYYY hh:mm" />
          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>

  <!-- Tabs -->
  <div class="d-flex justify-content-between align-items-center flex-wrap">
    <ul class="nav nav-tabs mb-3" id="viewTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          [class.active]="selectedView === 'graph'"
          (click)="selectView('graph')"
          type="button"
        >
          Graph View
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          [class.active]="selectedView === 'table'"
          (click)="selectView('table')"
          type="button"
        >
          Table View
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          [class.active]="selectedView === 'enity-annot'"
          (click)="selectView('enity-annot')"
          type="button"
        >
          Excerpts
        </button>
      </li>
    </ul>
  </div>

  <!-- Views -->
  <div class="views-container">
    <div *ngIf="selectedView === 'graph'">
      <!-- Graph View Content -->
      <app-linegraph [tableData]="tableData"></app-linegraph>
    </div>
    <div *ngIf="selectedView === 'table'">
      <!-- Table View Content -->
      <app-tableview [tableData]="tableData"></app-tableview>
    </div>
    <div *ngIf="selectedView === 'enity-annot'">
      <!-- Table View Content -->
      <app-entity-annot [claimId]="data.claimid" [attribute]="data.attirbute"></app-entity-annot>
    </div>
  </div>
</div>


<mat-dialog-actions>
  <button mat-button (click)="closePopup()">Close</button>
</mat-dialog-actions>

