#d1{
    height: 300px;
    width: 300px;
    background-color: blue;
}
.temperature-section {
    max-width: 600px;
    margin: 50px auto;
  }
  .section-title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .nav-tabs .nav-link {
    font-weight: 500;
  }
  .input-group .form-control {
    max-width: 250px;
  }