#settings{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #5792CC; /* Background color to cover content */
    border-bottom: 1px solid #ccc; /* Optional: border for header */
  }