<div class="main-body">

  <div class="header_content m-3">
    The Insights page provides a comprehensive view of key metrics and trends derived from user interactions with your
    product with your product.
  </div>

  <div class="main_container m-3">
    <!-- Code for selection tab -->

    <div class="searchBox">
        <!-- <mat-icon>search</mat-icon> -->
        <input type="text" placeholder="Search by name or description" class="searchbutton w-100 mb-2">
    </div>
    <div class="accordionComponent">
        <div>
          <table class="table m-1">
            <thead>
                <tr>
                  <th>DRG Code and Description</th>
                  <th>Audit Locator</th>
                  <th>Paid Amount</th>
                  <th>Patient ID</th>
                  <th>Assigned To</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
            </thead>

          </table>
        </div>

        <!-- <div class="mainContent"> -->
          <mat-accordion class="custom_accordian">
            <!-- Repeat this expansion panel for each record -->
            <mat-expansion-panel *ngFor="let record of drgRecords" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="panel-header">
                    <div>
                      <strong>DRG CODE: {{ record.drgCode }}</strong><br />
                      {{ record.description }}
                    </div>
                    <div>{{ record.code }}</div>
                    <div>{{ record.amount | currency }}</div>
                    <div>{{ record.patientId }}</div>
                    <div>{{ record.patientName }}</div>
                    <div
                      [ngClass]="{'status-finished': record.status === 'Finished', 'status-unassigned': record.status === 'Unassigned'}">
                      {{ record.status }}
                    </div>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <!-- Additional information inside the panel when expanded -->
              <div class="panel-content">
                   <div class="accordion" id="accordionExample">
                     <div class="accordion-item">
                       <h2 class="accordion-header" id="headingOne">
                         <button class="accordion-button" type="button" data-bs-toggle="collapse"
                           data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                           Claim Information
                         </button>
                       </h2>
                       <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                         data-bs-parent="#accordionExample">
                         <div class="accordion-body">
                           <div class="details d-flex">
                             <div class="left-container">
                               <div class="patients_details d-flex">
                                 <h4>Patients Details</h4>
                                 <span>
                                   <h6>Service Period</h6>
                                   <h6>08/08/2024-08/10/2024</h6>
                                 </span>

                               </div>
                               <div class="d-flex justify-content-between">
                                 <span>
                                   <h5>Patients Name</h5>
                                   <span>John Doe</span>
                                 </span>
                                 <span class="d-flex justify-content-between">
                                   <div class="flex-column">
                                     <h5>Age</h5>
                                     <h6>67yrs</h6>
                                   </div>
                                   <div class="ml-2">
                                     <h5>Gender</h5>
                                     <h6>Male</h6>
                                   </div>
                                 </span>

                               </div>

                               <div class="discharge">
                                 <h5>Discharge Status</h5>
                                 <ul>
                                   <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati error fugiat
                                     nihil voluptatum rem molestias. Excepturi et labore debitis iusto.</li>
                                   <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati error fugiat
                                     nihil voluptatum rem
                                     molestias. Excepturi et labore debitis iusto.</li>
                                   <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati error fugiat
                                     nihil
                                     voluptatum rem molestias. Excepturi et labore debitis iusto.</li>

                                 </ul>
                               </div>
                             </div>
                             <div class="right-container">
                               <h4>Claim Details</h4>
                               <div class="grid-container">
                                 <div class="grid-item">
                                   <div class="d-flex flex-column">
                                     <span>Billed DRG</span>
                                     <span>128</span>
                                   </div>
                                 </div>
                                 <div class="grid-item">
                                   <div class="d-flex flex-column">
                                     <span>Billed DRG</span>
                                     <span>128</span>
                                   </div>
                                 </div>
                                 <div class="grid-item">
                                   <div class="d-flex flex-column">
                                     <span>Billed DRG</span>
                                     <span>128</span>
                                   </div>
                                 </div>
                                 <div class="grid-item">
                                   <div class="d-flex flex-column">
                                     <span>Billed DRG</span>
                                     <span>128</span>
                                   </div>
                                 </div>
                                 <div class="grid-item">
                                   <div class="d-flex flex-column">
                                     <span>Billed DRG</span>
                                     <span>128</span>
                                   </div>
                                 </div>
                                 <div class="grid-item">
                                   <div class="d-flex flex-column">
                                     <span>Billed DRG</span>
                                     <span>128</span>
                                   </div>
                                 </div>
                                 <div class="grid-item">
                                   <div class="d-flex flex-column">
                                     <span>Billed DRG</span>
                                     <span>128</span>
                                   </div>
                                 </div>
                                 <div class="grid-item">
                                   <div class="d-flex flex-column">
                                     <span>Billed DRG</span>
                                     <span>128</span>
                                   </div>
                                 </div>
                                 <div class="grid-item">
                                   <div class="d-flex flex-column">
                                     <span>Billed DRG</span>
                                     <span>128</span>
                                   </div>
                                 </div>
                               </div>

                             </div>
                           </div>

                         </div>
                       </div>
                     </div>
                     <div class="accordion-item">
                       <h2 class="accordion-header" id="headingTwo">
                         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                           data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                           Coding Worksheet
                         </button>
                       </h2>
                       <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                         data-bs-parent="#accordionExample">
                         <div class="accordion-body">
                           <strong>This is the second item's accordion body.</strong> It is hidden by default, until the
                           collapse plugin adds the appropriate classes that we use to style each element. These classes
                           control the overall appearance, as well as the showing and hiding via CSS transitions. You
                           can
                           modify any of this with custom CSS or overriding our default variables. It's also worth
                           noting that
                           just about any HTML can go within the <code>.accordion-body</code>, though the transition
                           does limit
                           overflow.
                         </div>
                       </div>
                     </div>
                     <div class="accordion-item">
                       <h2 class="accordion-header" id="headingThree">
                         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                           data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                           Selection Reason
                         </button>
                       </h2>
                       <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                         data-bs-parent="#accordionExample">
                         <div class="accordion-body">
                           <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                           collapse plugin adds the appropriate classes that we use to style each element. These classes
                           control the overall appearance, as well as the showing and hiding via CSS transitions. You
                           can
                           modify any of this with custom CSS or overriding our default variables. It's also worth
                           noting that
                           just about any HTML can go within the <code>.accordion-body</code>, though the transition
                           does limit
                           overflow.
                         </div>
                       </div>
                     </div>
                     <div class="accordion-item">
                       <h2 class="accordion-header" id="headingFour">
                         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                           data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                           Message
                         </button>
                       </h2>
                       <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                         data-bs-parent="#accordionExample">
                         <div class="accordion-body">
                           <strong>This is the first item's accordion body.</strong> It is shown by default, until
                           the collapse
                           plugin adds the appropriate classes that we use to style each element. These classes
                           control the
                           overall appearance, as well as the showing and hiding via CSS transitions. You can modify
                           any of
                           this with custom CSS or overriding our default variables. It's also worth noting that
                           just about any
                           HTML can go within the <code>.accordion-body</code>, though the transition does limit
                           overflow.
                         </div>
                       </div>
                     </div>
                     <div class="accordion-item">
                       <h2 class="accordion-header" id="headingFive">
                         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                           data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                           Audit Remark
                         </button>
                       </h2>
                       <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                         data-bs-parent="#accordionExample">
                         <div class="accordion-body">
                           <strong>This is the first item's accordion body.</strong> It is shown by
                           default, until the collapse
                           plugin adds the appropriate classes that we use to style each element. These
                           classes control the
                           overall appearance, as well as the showing and hiding via CSS transitions. You
                           can modify any of
                           this with custom CSS or overriding our default variables. It's also worth
                           noting that just about any
                           HTML can go within the <code>.accordion-body</code>, though the transition
                           does limit overflow.
                         </div>
                       </div>
                     </div>
                   </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>

        <!-- </div> -->

    </div>

  </div>
