<div class="container-fluid color-babyblue p-0">
    <!-- Header -->
    <div class="color-steelblue text-white p-2 d-flex justify-content-between align-items-center">
      <h4>Hello Shorya Shriwastav!</h4>
      <input type="search" class="form-control w-25" placeholder="Search here">
    </div>
    <!-- Main Content -->
    <div class="row color-babyblue no-border p-3 ">

      <!-- Left Column -->
      <div class="col-lg-4 color-babyblue no-border pb-2">
    
        
        <div class="card p-2 section-box">
          <div class="d-flex justify-content-between ">
            <h5>Claim Overview</h5>
            <!-- <a href="#">View All</a> -->
            <button class="btn btn-outline-secondary btn-sm">View All</button>
          </div>
          <app-claim-overview></app-claim-overview>
        </div>
      </div>

      <!-- Right Column -->
      <div class="col-lg-8">
        <!-- Statistics -->
        <div class="card p-2 mb-2">
          <h5>Statistics</h5>
          <div>
            <h6>Weekly Comparison</h6>
            <canvas id="weeklyChart"></canvas>
          </div>
        </div>

        <!-- Monthly Progress -->
        <div class="card p-2 mb-2">
          <h6>Monthly Claims Progress</h6>
          <app-monthly-claim-progress></app-monthly-claim-progress>
        </div>

        
      </div>
    </div>
  </div>