<div class="container mt-1">
  
  <!-- Button Group -->
  <div class="btn-group p-0 m-0" role="group" aria-label="Tab buttons">
    <button
      type="button"
      class="btn btn-tab"
      [class.active]="activeFilter === 'all'"
      (click)="setFilter('all')"
    >
      All
    </button>
    <button
      type="button"
      class="btn btn-tab"
      [class.active]="activeFilter === 'unassigned'"
      (click)="setFilter('Unassigned')"
    >
      Unassigned
    </button>
    <button
      type="button"
      class="btn btn-tab"
      [class.active]="activeFilter === 'delayed'"
      (click)="setFilter('Delayed')"
    >
      Delayed
    </button>
  </div>

  <!-- Data Sections -->
  <div class="data-section active fs-7 ">
    <div
      class="audit-item"
      *ngFor="let item of filteredAuditItems"
    >
      <div class="audit-details">
        <div class="audit-title dark">{{ item.title }}</div>
        <div class="audit-id">{{ item.id }}</div>
      </div>
      <div class="audit-date-amount">
        <div class="audit-amount">{{ item.amount }}</div>
        <div class="audit-date">{{ item.date }}</div>
      </div>
    </div>
  </div>
</div>
