<div class="container mt-4">
    <button mat-raised-button color="primary" (click)="toggleEditMode()">
      {{ editMode ? 'Save' : 'Edit' }}
    </button>
  
    <div class="table-responsive mt-3">
      <table mat-table [dataSource]="tableData" class="table table-bordered table-striped">
        <!-- Sr. No Column -->
        <ng-container matColumnDef="srNo">
          <th mat-header-cell *matHeaderCellDef> Sr. No. </th>
          <td mat-cell *matCellDef="let element"> {{ element.srNo }} </td>
        </ng-container>
  
        <!-- DX Code Column -->
        <ng-container matColumnDef="dxCode">
          <th mat-header-cell *matHeaderCellDef> DX Code </th>
          <td mat-cell *matCellDef="let element"> {{ element.dxCode }} </td>
        </ng-container>
  
        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
        </ng-container>
  
        <!-- Diagnosis Primary Column -->
        <ng-container matColumnDef="diagnosisPrimary">
          <th mat-header-cell *matHeaderCellDef> Diagnosis Primary </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox [(ngModel)]="element.diagnosisPrimary" [disabled]="!editMode"></mat-checkbox>
          </td>
        </ng-container>
  
        <!-- POA Column -->
        <ng-container matColumnDef="poa">
          <th mat-header-cell *matHeaderCellDef> POA </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox [(ngModel)]="element.poa" [disabled]="!editMode"></mat-checkbox>
          </td>
        </ng-container>
  
        <!-- Affects DRG Column -->
        <ng-container matColumnDef="affectsDRG">
          <th mat-header-cell *matHeaderCellDef> Affects DRG </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox [(ngModel)]="element.affectsDRG" [disabled]="!editMode"></mat-checkbox>
          </td>
        </ng-container>
  
        <!-- Complication Comorbidity Column -->
        <ng-container matColumnDef="complicationComorbidity">
          <th mat-header-cell *matHeaderCellDef> Complication Comorbidity </th>
          <td mat-cell *matCellDef="let element">
            <mat-select [(ngModel)]="element.complicationComorbidity" [disabled]="!editMode">
              <mat-option *ngFor="let option of comorbidityOptions" [value]="option">
                {{ option }}
              </mat-option>
            </mat-select>
          </td>
        </ng-container>
  
        <!-- DRG Column -->
        <ng-container matColumnDef="drg">
          <th mat-header-cell *matHeaderCellDef> DRG </th>
          <td mat-cell *matCellDef="let element">
            <input type="number" class="form-control" [(ngModel)]="element.drg" [disabled]="!editMode" (input)="onNumberInput($event)" />
          </td>
        </ng-container>
  
        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Weight </th>
          <td mat-cell *matCellDef="let element">
            <input type="number" class="form-control" [(ngModel)]="element.weight" [disabled]="!editMode" (input)="onNumberInput($event)" />
          </td>
        </ng-container>
  
        <!-- Header and Row Definitions -->
        <tr mat-header-row *matHeaderRowDef="['srNo', 'dxCode', 'description', 'diagnosisPrimary', 'poa', 'affectsDRG', 'complicationComorbidity', 'drg', 'weight']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['srNo', 'dxCode', 'description', 'diagnosisPrimary', 'poa', 'affectsDRG', 'complicationComorbidity', 'drg', 'weight']"></tr>
      </table>
    </div>
  </div>
  