/* You can add global styles to this file, and also import other style files */
.text-steelblue{
 color: #5792CC;
}
/* body {
    margin: 0;
    height: 100vh; 
    background: linear-gradient(to bottom,  #8ba9c6 , white); 
  } */