.card{
    background-color: white;
    color: #5792CC;
    margin-bottom: 10px;
    border-radius: 10px;
}

.card-body{
    color: aquamarine;
}

.dropdown{
    margin: 20px;
}

.patients_details{
    justify-content: space-between;
}

.details{
    width: 100%;
}

.accordion-button {
    background-color: #5792CC;
    color: white;
}


.left-container{
    border: solid 2px grey;
    border-radius: 10px;
    padding: 20px;
    width: 65%;
}

.right-container{
    width: 35%;
    border: solid 2px grey;
    border-radius: 10px;
    padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  text-align: center;
}

.mat-accordion .mat-expansion-panel {
  border-bottom: 1px solid #e0e0e0;
}

.panel-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 16px;
  align-items: center;
}

.panel-header div {
  font-size: 14px;
}

.status-finished {
  color: green;
}

.status-unassigned {
  color: gray;
}

/* .panel-content {
  padding: 16px;
} */

.accordionComponent{
  margin-left: 20px;
}

.searchbutton{
  width: 95%;
  margin-left: 20px;
}

mat-expansion-panel-header{
  height: max-content; 
  margin-bottom: 10px;
  margin-top: 10px;
}


/* Style for the button with dots */
.menu-trigger {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.menu-trigger:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Style for the dots */
.menu-trigger .dot {
  color: #5792CC; /* Use your desired color for the dots */
  font-size: 24px;
  margin: 0 2px;
}

/* Style for the dropdown menu */
.custom-menu {
  min-width: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.custom-menu .menu-item {
  padding: 10px 20px;
  font-size: 16px;
  color: #333;
  text-align: left;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-menu .menu-item:hover {
  background-color: #5792CC;
  color: white;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.pagination button {
  margin: 0 10px;
}
