<div class="searchBox"> 
  <input type="text" placeholder="Search by name or description" class="searchbutton">
</div>


<mat-card class="p-2 m-3">
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>DRG Code and Description</th>
          <th>Audit Locator</th>
          <th>Paid Amount</th>
          <th>Patient ID</th>
          <th>Assigned To</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <ng-container class="m-3" *ngFor="let row of pagedData; let i = index">
          <!-- Main Row -->
          <tr class="pointer">
            <td (click)="toggleRow(i)">{{ row.drg_description }}</td>
            <td>{{ row.arl }}</td>
            <td>{{ row.paid_amt  }}</td>
            <td>{{ row.patient_id }}</td>
            <td>{{ row.assigned_to }}</td>
            <td>{{ row.status }}</td>
            <td>
              <button mat-button [matMenuTriggerFor]="menu" class="menu-trigger">
                <span class="dot">•</span>
                <span class="dot">•</span>
                <span class="dot">•</span>
              </button>
              <mat-menu #menu="matMenu" class="custom-menu">
                <button mat-menu-item class="menu-item">View</button>
                <button mat-menu-item class="menu-item">Submit</button>
              </mat-menu>

            </td>
          </tr>
          <!-- Collapsible Card -->
          <tr *ngIf="expandedRow === i">
            <td colspan="7" class="p-0">
              <div class="card card-body p-0">
               <div class="panel-content">
                 <div class="accordion" id="accordionExample">
                   <div class="accordion-item">
                     <h2 class="accordion-header" id="headingOne">
                       <button class="accordion-button" type="button" data-bs-toggle="collapse"
                         data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                         Claim Information
                       </button>
                     </h2>
                     <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                       data-bs-parent="#accordionExample">
                       <div class="accordion-body">
                        <app-claim-details [claimid]="row.claim_id"></app-claim-details>
                       


                       </div>
                     </div>
                   </div>
                   <div class="accordion-item">
                     <h2 class="accordion-header" id="headingTwo">
                       <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                         data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                         Coding Worksheet
                       </button>
                     </h2>
                     <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                       data-bs-parent="#accordionExample">
                       <div class="accordion-body">
                        Coding Worksheet
                        <!-- <app-coding-worksheet [claimid]="row.claim_id"></app-coding-worksheet> -->
                        <app-worksheet [claimid]="row.claim_id"></app-worksheet>
                       </div>
                     </div>
                   </div>
                   <div class="accordion-item">
                     <h2 class="accordion-header" id="headingThree">
                       <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                         data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                         Selection Reason
                       </button>
                     </h2>
                     <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                       data-bs-parent="#accordionExample">
                       <div class="accordion-body">
                        <app-selection-reason [claimid]="row.claim_id"></app-selection-reason>
                       </div>
                     </div>
                   </div>
                   <div class="accordion-item">
                     <h2 class="accordion-header" id="headingFour">
                       <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                         data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                         Message
                       </button>
                     </h2>
                     <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                       data-bs-parent="#accordionExample">
                       <div class="accordion-body">
                         <strong>This is the first item's accordion body.</strong> It is shown by default, until
                         the collapse
                         plugin adds the appropriate classes that we use to style each element. These classes
                         control the
                         overall appearance, as well as the showing and hiding via CSS transitions. You can modify
                         any of
                         this with custom CSS or overriding our default variables. It's also worth noting that
                         just about any
                         HTML can go within the <code>.accordion-body</code>, though the transition does limit
                         overflow.
                       </div>
                     </div>
                   </div>
                   <div class="accordion-item">
                     <h2 class="accordion-header" id="headingFive">
                       <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                         data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                         Audit Remark
                       </button>
                     </h2>
                     <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                       data-bs-parent="#accordionExample">
                       <div class="accordion-body">
                         <app-audit-remark [claimId]="row.claim_id"></app-audit-remark>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <!-- Pagination Controls -->
  <div class="pagination">
    <button mat-button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button mat-button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>
  
</mat-card>