.sidenav-container {
  height: 100vh;
}

/* .sidenav {
  width: 70px;
  overflow: hidden;
  background-color: #ffffff;
  color: white;
  transition: width 0.3s ease;
} */

.sidenav-header {
  display: flex;
  align-items: center;
  padding: 16px;
  cursor: pointer;
  background-color: #ffffff;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.logo-text {
  font-weight: bold;
  color: black;
  font-size: 1.2rem;
}

.sidenav-footer {
  position: absolute;
  bottom: 0;
}

/* //////////////////////// */

.sidenav {
  transition: width 0.3s ease-in-out;
}

.sidenav.opened {
  width: 240px;
}

.sidenav.closed {
  width: 0;
  overflow: hidden;
}

.logo {
  cursor: pointer;
}

/* .main-content{
  margin: 16px;
  padding: 16px; 
  position: absolute;
  box-sizing: border-box; 
} */

