<div class="container-fluid">
  <div class="row">
    <div class="d-flex justify-content-between align-items-center">
      <div>Remark</div>
      

      <div class="d-flex">
        <button mat-stroked-button *ngIf="!isEditing" (click)="toggleEditing()">EDIT</button>
        <button mat-stroked-button *ngIf="isEditing" (click)="saveRemark()">SAVE</button>
        <select id="dropdown" [(ngModel)]="selectedStatus" name="dropdown" class="form-select">
          <option *ngFor="let status of statuses" [value]="status.value">
            {{ status.label }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Editable input field if editing -->
    <input [(ngModel)]="remark" type="text" class="form-control" [disabled]="!isEditing" />
  </div>
</div>
