#reset-title{
    color:#5792CC;
    
 }
 #forget-pass{
    color:#5792CC ;
    font-size: 0.800rem;
    
 }

.custom-small-text{
    font-size: 0.800rem;
    color: #48505E;
}
.full-height {
    height: 100vh; /* Full viewport height */
}