
<div class="container mt-3 justify-content-center align-items-center full-height " >
    
    <div class="row justify-content-center align-items-center align-text-center full-height" >
      <div class="col-md-12 border-primary" style="max-width:350px;">
        <div class="m-3">
          <img src="assets/image.png" class="img-fluid m-1 " alt="...">
        </div>
        <div class="m-3">
            <h3  class="text-center text-steelblue">
                Forgot Password?
              </h3>
              <p class="text-center text-secondary" >Enter your email address to get the
                  password reset link</p>

        </div>
        
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="email" class="form-label custom-small-text text-dark">Email Address</label>
                <input id="email" formControlName="email" type="email" class="form-control "
                placeholder="Enter your email">
                <div *ngIf="email?.invalid && email?.touched" class="text-danger">
                  <small *ngIf="email?.errors?.['required']">Email is required.</small>
                  <small *ngIf="email?.errors?.['email']">Invalid email format.</small>
                </div>
              </div>
        
          <button type="submit" class="btn btn-dark w-100 rounded-0 mb-3 " [disabled]="resetForm.invalid">Reset password</button>
        </form>

        <div class="mt-10">
            <p class="text-center custom-small-text">
                <a [routerLink]="['/login']" class="text-secondary">Back to Login</a>
              </p>
              
            

        </div>

      </div>
     
      
      
    </div>

</div>